<h1 class="text-center">Bienvenido a mi aplicaci贸n Rails con Bootstrap</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary">Bot贸n Primario</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary">Bot贸n Secundario</button>
    </div>
  </div>
</div>

<%= button_to 'Cerrar sesi贸n', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
