<div class="offcanvas offcanvas-start bg-card" tabindex="-1" id="mobileSidebar">
  <div class="offcanvas-header border-bottom border-secondary">
    <h5 class="offcanvas-title">
      <i class="bi bi-mortarboard-fill text-primary me-2"></i>ClassNotes
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <!-- Navigation Links -->
    <%= render 'shared/nav_links' %>

    <!-- User Info at bottom -->
    <div class="mt-auto pt-4 border-secondary">
      <%= render 'shared/user_info' %>
    </div>
  </div>
</div>